/* Default Theme
---------------------------------*/
:root {
  --primary: #1474FC;
  --secondary: #F43980;
}

body.dark {
  --bg-0: #090D14;
  --bg-1: #111827;
  --bg-2: #1F2937;
  --bg-3: #374151;
  --bg-4: #4B5563;
  --bd-0: #090D14;
  --bd-1: #111827;
  --bd-2: #1F2937;
  --bd-3: #374151;
  --bd-4: #4B5563;
  --bg-inverse: #D3D3D3;
  --tx-0: #EFEFEF;
  --tx-1: #D3D3D3;
  --tx-inverse: #090D14;
}

body.light {
  --bg-0: #E5F2FF;
  --bg-1: #CDD9E4;
  --bg-2: #B3BFC9;
  --bg-3: #A4AFB9;
  --bg-4: #99A3AB;
  --bd-0: #000912;
  --bd-1: #00152B;
  --bd-2: #001F41;
  --bd-3: #00254D;
  --bd-4: #003268;
  --bg-inverse: #242424;
  --tx-0: #000912;
  --tx-1: #001F41;
  --tx-inverse: #CFCFCF;
}